body {
    background-color: #16151d;
    margin: 0;
    padding: 0;
    width: 100vw; 
    overflow-x: hidden;
}
nav li a{
    color: #ffffff;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        }

.container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px; 
    background-color: #222222;
    padding: 100px;
    width: 80%;
    top: 180px;
    margin: auto;
    border-radius: 15px; 
}

.resim img {
    width: 250px;
    border: 3px solid white;
    height: auto;
    background-color: #7e7d84;
    padding: 10.10px;
    border-radius: 15px;
   
    margin-left: -50px;
}
.bölüm {
    display: flex;
    flex-direction: column;
    gap: 26px; 
    background-color: #7e7d84;
    padding: 9px;
    margin-left: -22px;
    margin-top: -0.60%;
    border: 3px solid white;
    border-radius: 15px;
}
.birr, .ikii, .üçç, .dörtt, .bess {
    color: white;
    background-color: rgb(152, 55, 55);
    padding: 1px 10px;;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    
}
.birr:hover, .ikii:hover, .üçç:hover, .dörtt:hover, .bess:hover {
    background-color: #6d6a7a;
}
.metin{  position: absolute; 
        top: 195px; 
        left:57%; 
        transform: translateX(-50%); 
        white-space: nowrap;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }
.p{
    position: absolute;
    top:  290px;
    left: 40%; 
    max-width: 500px;
    color: white;
    text-align: justify;
    font-size: 18px;
    line-height: 1.9;
    word-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
nav {
    background-color: rgb(51, 49, 49);
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: #01918a;
        color: white;
        padding: 10px 0;
        padding: 20px 35px;
    }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-right: 10px;
    font-size: 21px;
    margin-right: 50px;  
}
a:hover {
    color: #1e8d45;
}
 nav .can{background-color: rebeccapurple;}

