body{
    margin: 0;
    padding: 0;
    background-color: rgb(215, 197, 172);
    background-size: cover;}
.box{
    width: 500px;
    height: 505px;
    background-color:rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
    position: relative;
}
.box h2{
    text-align: center;
}
